/* Color Palette-------
#9AED9B Pale Green
#89BCA6 Dark Sea Green
#486B8E Queen Blue
#52476B Independence
#491A42 Russian Violet
*/

/* Global Styles-------*/
html {
	box-sizing: border-box;
}

*, *:before; *:after {
	box-sizing: inherit;
}

body {
	background: #491A42;
	color: #9AED9B;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

.content-wrap {
	max-width: 950px;
	margin: 0 auto;
	padding: 50px;
	overflow: auto;
}

.col-narrow {
	float: left;
	min-height: 150px;
	width: 30%;
}

.col-wide {
	float: left;
	min-height: 150px;
	width: 70%;
}

h1, h2 {
	font-family: 'Caveat', cursive;
	font-weight: 400;
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 40px;
	margin-top: 0;
}

a {
	color: #52476B;
}

a:hover {
	text-decoration: none;
}

/*Header and Footer-------*/
header, footer {
	background: #89BCA6;
	color: white;
}

/*Header only*/
header h1, header h2 {
	color: #486B8E;
	margin: 0;
}

.profile-img {
	border-radius: 50%;
}

/*Footer only*/
footer {
	text-align: center;
}

.contact-info a {
	display: inline-block;
	padding: 10px;
}

/*Work Experience-------*/
.work {
	background: #52476B;
}



/*Education-------*/
.education {
	background: #486B8E;
}